@import 'navbar.css';
@import 'blogpostcard.css';
@import 'main.css';

body{
  background-color: darkgray;
}

    .header{
      grid-area: hd;
    }
  
    .footer {
      grid-area: ft;
     }

    .sidebar{
      grid-area: sd;
    }
    .content{
      grid-area: main;
      
    }
    @media(min-width: 900px){
      .container{
        display: grid;
        grid-template-columns: 100px 350px 350px;
        grid-template-rows: 50px 300px 350px;
        grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "sd sd main main main main main main"
        "ft ft ft ft ft ft ft ft";
      }
    }
  
    @media (min-width:1101px){
    .container{
      border:5px #444;
      grid-template-columns: 250px 250px 100px;
      grid-template-rows: 100px 400px 100px;
      grid-template-areas:
      "hd hd hd hd hd hd hd hd"
      "sd main main main main main main main"
      "ft ft ft ft ft ft ft ft";
        }
    }