@import "card.css";
@import "navbar.css";

body {
    background-color: rgb(116, 104, 90);
}

.flex-container {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 350px 150px;
    grid-template-areas:
        "hd hd hd hd hd hd hd hd"
        "main main main main main main main main"
        "ft ft ft ft ft ft ft ft";
}

.box {
    background: rgb(116, 104, 90);
    text-align: center;
}

p {
    font-family: Oswald;
    font-size: 40px;
    text-align: center;
}
h3 {
    text-align: center;
    margin: 2em;
}
h2 {
    text-align: center;
}
#one {
    height: 42px;
    width: 42px;
}
#two {
    height: 52px;
    width: 82px;
}
.header {
    grid-area: hd;
}

.footer {
    grid-area: ft;
}

.content {
    grid-area: main;
}

@media (min-width: 600px) and (max-width: 1100px) {
    .container {
        display: grid;
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 350px 150px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }
}

@media (min-width: 1101px) {
    .container {
        grid-template-columns: 100px 100px 100px;
        grid-template-rows: 100px 350px 150px;
        grid-template-areas:
            "hd hd hd hd hd hd hd hd"
            "main main main main main main main main"
            "ft ft ft ft ft ft ft ft";
    }
}
