.container{
    display: grid;
    grid-template-columns: 320px;
    grid-template-rows: 1px 275px 200px;
    grid-template-areas: 
    "hd"
    "sd"
    "main"
    "ft";
    background-color: darkgray;
  
  }
.box{
  text-align: center;
  background: darkgray;
  }
#one{
  width: 100%;
}
#two{
  width: 100%;
}
#three{
  height: 42px;
  width: 42px;
}

#four{
  height: 42px;
  width: 42px;
}

#five{
  height: 42px;
  width: 42px;
}

#six{
  height: 42px;
  width: 42px;
}

#seven{
  height: 122px;
  width: 220px;
}

h3{
  position: relative;
  top: 75px;
}

p{
  position: relative;
  top: 100px;
}

.foot{
    position: relative;
    top: 75px;
    margin-left: 10%;
    float: left;
}

  #nestedGrid{
    display:grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;   
  }